* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica,Arial, sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 10;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    position: fixed;
    width: 100%;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: #d9d9d9;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width:  2.34vw;
    height: 0.30vh;
    background: #d9d9d9;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .titulo h2{
    font-size: 3.66vw  ;
    color: #000;
  }
  .texto{
    font-size: 2.92vw;
  }

.imagen img{
  width: 100%;
  height: 10vh;
}

  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .home{
    width: 90%;
    margin: 0 auto;
    
}
.noticiahome{
    width: 100%;
    background-color: #d9d9d9;
    border: 2px solid  #23232e;
    margin-top: 1%;
    display: inline-block;
    margin: 5px 10px 2px 1%;

    
}
.titulohome{
  color: #000;
}
.imagenhome{
    width: 30%;
    float: left;
}
.imagenhome img{
    width: 100%;
    
    height: 38vh;
    object-fit: cover;
}
.textohome{
color: #000;
}

#noticias{
    width:  90%;
    margin: 0 auto;
    float: left;
    
}
.noticia{
    width: 21.96vw;
    background-color: #d9d9d9;
    border: 3px solid  #23232e;
    margin-top: 1px;
    display: inline-block;
    margin: 20px 10px 10px 1%;
    
}
.imagen{
    width: 100%;
}
.imagen img{
    width: 100%;
    height:  35vh;

    
}

.titulo h2{
    font-size:  1,3177159590043923vw;
    color: #000;
}
footer{
    width:100%;
}
section{
    padding-left: 7%;
    padding-top: 150px ;
    min-height:  60vh;
    float: left;
    
}
#contato{
   
}
.texto{
    color: #000;

}
